{% extends "base.html" %}

{% block content %}
    <h2>Cadastrar Nova Pessoa</h2>
    <form method="POST" action="{{ url_for('cadastrar_pessoa') }}">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" oninput="this.value = this.value.replace(/[^a-zA-ZÀ-ÿ\s]/g, '')" id="nome" name="nome">
        </div>
        
        <div class="form-group">
            <label for="sobrenome">Sobrenome:</label>
            <input type="text"  oninput="this.value = this.value.replace(/[^a-zA-ZÀ-ÿ\s]/g, '')" id="sobrenome" name="sobrenome">
        </div>
        
        <div class="form-group">
            <label for="cpf">CPF:</label>
            <input type="number" id="cpf" name="cpf" maxlength="11"  oninput="this.value = this.value.slice(0, 11)"> <!-- adicionado para limitar a quantidade de caracteres -->
        </div>
        
        <div class="form-group">
            <label for="data_nascimento">Data de Nascimento:</label>
            <input type="date" id="data_nascimento" name="data_nascimento"> <!-- alterado para receber type date, pois antes estava string. -->
        </div>
        
        <button type="submit">Cadastrar</button>
        <a href="{{ url_for('index') }}" class="btn">Cancelar</a>
    </form>
{% endblock %}